<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Contacts</title>
    <!--<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>-->
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/styles.css" th:href="@{/css/styles.css}" />
</head>

<body class="mainBackground">
<div class="container">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/register}">Register</a>
    <a th:href="@{/secure/listContacts}">List Contacts</a>
    <a th:href="@{/secure/addContact}">Add Contact</a>
</div>
<div class="heading-cont" style="margin-top: 7%">
<h1 style="color: #383682">List Contacts Page</h1>
<table id="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:each="c : ${contactList}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.phoneNumber}"></td>
        <td th:text="${c.address}"></td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.role}"></td>
    </tr>
</table>
</div>
</body>
</html>