<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body class="background">
<h1>Home Page</h1>
<a th:href="@{/}">Home</a>
<a th:href="@{/register}">Register</a>
<a th:href="@{/secure/listContacts}">List Contacts</a>
<a th:href="@{/secure/addContact}">Add Contact</a>

<div sec:authorize="isAuthenticated()">
    User's Name: <span sec:authentication ="name"></span></br>
    Roles: <span sec:authentication="principal.authorities">
    </span><br><br>
    <div>
        <form method="get" action="#" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>
</body>
</html>