<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>
<body class="background">
<div style="display: flex;">
<div style="width: 15%;
margin-top: 1.7%;
margin-left: 40%;" sec:authorize="isAuthenticated()">
    <div>
        <form method="get" action="#" th:action="@{/logout}">
            <input style="background-color: #EED056;
font-size: 16px;
font-family: Poppins;
border-radius: 10px;
border-style: none;
padding: 10px;
margin-top: 7%;
width: 50%;" type="submit" value="Logout"/>
        </form>
    </div>
</div>
<div class="container">
<a th:href="@{/}">Home</a>
<a th:href="@{/register}">Register</a>
<a th:href="@{/secure/listContacts}">List Contacts</a>
<a th:href="@{/secure/addContact}">Add Contact</a>
</div>
</div>
<div  class="heading-cont"><p style="color: #56C6BE">ONLINE PHONEBOOK</p>
    <h1 style="color:#383682">Manage your contacts efficiently.</h1>
    <p style="font-size: 16px">An online phonebook for all your contact
        needs.</p>
    <button type="button" style="background-color: #EED056; font-size: 16px;font-family: Poppins; border-radius: 10px; border-style: none; padding: 10px; margin-top: 7%; width: 30%"><a style="text-decoration: none; color: white;" th:href="@{/register}">REGISTER</a></button>
</div>

</body>
</html>