<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body class="otherBackground">
<div class="container">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/register}">Register</a>
    <a th:href="@{/secure/listContacts}">List Contacts</a>
    <a th:href="@{/secure/addContact}">Add Contact</a>
</div>

<div class="register">
    <h1 style="color: #383682">Login Here</h1>
<form method="post" th:action="@{/login}">
    <div th:if="${param.error}">
	<div class="error">
		Invalid username or password.
	</div>
    </div>
    <div th:if="${param.logout}">
        <div class="error">
            You have been logged out.
        </div>
    </div>
    <div>
        Username: <input type="text" style="margin-left: 8.5%;" name="username" /><br>
        Password: <input style="margin-left: 10%;" type="password" name="password" /><br>
        <input style="background-color: #EED056;color: white; font-size: 16px;font-family: Poppins; border-radius: 10px; border-style: none; padding: 10px; margin-top: 7%; width: 30%" type="submit" name="login-submit" value="Log In" />
    </div>


</form>
    <a style="text-decoration: none; color: #56C6BE; margin-top:10px; font-family: Poppins; font-size: 14px" th:href="@{/register}">Need an account?</a>
</div>

<footer class="footer">
  <div class="footer-container">
    <p>© Paven Rai and Shivam Mungra 2021</p>
    <div sec:authorize="isAuthenticated()">
      <div>
        <form method="get" action="#" th:action="@{/logout}">
          <input class="logout" type="submit" value="Logout"/>
        </form>
      </div>
    </div>
  </div>
</footer>
</body>
</html>

