<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/styles.css" th:href="@{/css/styles.css}" />

</head>

<body class="otherBackground">
<div class="container">
  <a th:href="@{/}">Home</a>
  <a th:href="@{/register}">Register</a>
  <a th:href="@{/secure/listContacts}">List Contacts</a>
  <a th:href="@{/secure/addContact}">Add Contact</a>
</div>

<div class="register">
<h1 style="color: #383682">Register Here</h1>
<div id="error" class="error"></div>
<form name="form" action="#" th:action="@{/registerUser}" method="post" onsubmit="return verify()">
  Email: <input style="margin-left: 35%;" type= "email" name="username" /><br>
  Role:
  <input type="checkbox" style="margin-left: 38%;" id="admin" name="role" value="1">
  <label for="admin">Admin</label><br>
  <input type="checkbox" style="margin-left: 49.5%;" id="member" name="role" value="2">
  <label for="member">Member</label><br>
  Password: <input style="margin-left: 26%;" type="password" name="password" /><br>
  Verify Password: <input style="margin-left: 12.5%;" type="password" name="verifyPassword" /><br>
  <input style="background-color: #EED056;color: white; font-size: 16px;font-family: Poppins; border-radius: 10px; border-style: none; padding: 10px; margin-top: 7%; width: 30%" type="submit" value="Add User">
</form>
</div>
<footer class="footer">
  <div class="footer-container">
    <p>© Paven Rai and Shivam Mungra 2021</p>
    <div sec:authorize="isAuthenticated()">
      <div>
        <form method="get" action="#" th:action="@{/logout}">
          <input class="logout" type="submit" value="Logout"/>
        </form>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
